# =========================
# CSV FILES
# =========================
*.csv


# =========================
# REPORTS (optional safety)
# =========================
reports/
output/
data/


# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/


# =========================
# VENV
# =========================
venv/
env/
methodqaenv/


# =========================
# IDE
# =========================
.vscode/
.idea/


# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db